framework: net10.0

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 10.0

nuget Expecto
nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Alma.Build ~> 3.0
